[avb-election-chooser-screen] {
    .btn[disabled] {
        background-color: lighten(@gray-light, 40%) !important;
    }

    .logout-btn {
        margin: 25px;
        font-weight: bold;
    }

    .election-title,
    .election-description {
        word-break: break-word;
    }
}