[avb-election-chooser-screen] {
    .election-chooser-description {
        font-size: 16px;
    }

    .election-chooser-title {
        margin-bottom: 16px;
        font-weight: bold;
    }

    .election-chooser-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .fa-question-circle {
        margin-left: 16px;
        font-size: 18px;
        line-height: 18px;
    }
}