<div class="modal-header dialog-header-warning">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      {{header}}
    </span>
    <button type="button" aria-label="close" class="close pull-right" ng-click="ok()">×</button>
  </h4>
</div>
<div class="modal-body">
  <p>
    <span ng-i18next>
      {{body}}
    </span>
    <ul ng-if="errors.length > 0">
      <li
        class="error"
        ng-repeat="error in errors"
        data-i18n="{{error.data}}"
        ng-i18next>
        [i18next]({{error.data}}){{error.key}}
      </li>
    </ul>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="ok()" ng-i18next>
    {{continue}}
  </button>
  <button class="btn" ng-click="cancel()" ng-i18next>
    {{cancel}}
  </button>
</div>