<div class="modal-header dialog-header-warning">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      avBooth.warnBallotParity.header
    </span>
    <button type="button" aria-label="close" class="close pull-right" ng-click="ok()">×</button>
  </h4>
</div>
<div class="modal-body">
  <p>
    <span ng-i18next>
      avBooth.warnBallotParity.body
    </span>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="ok()" ng-i18next>
    avBooth.warnBallotParity.continue
  </button>
</div>
