<!-- top navbar -->
<nav 
  class="navbar start-screen navbar-default navbar-fixed-top"
  av-affix-top=".navbar-unfixed-top"
  role="navigation"
>
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="col-xs-6">
        <span ng-if="election.logo_url">
          <img
            alt="Logo Image"
            class="logo-img" 
            ng-src="{{election.logo_url}}"
          />
        </span>
        <span 
          class="powered-by"
          ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy"
          ng-if="!election.logo_url"
        >
        </span>
      </div>

      <div class="col-xs-6 text-right">
        <span
          class="glyphicon glyphicon-question-sign"
          role="link"
          tabindex="0"
          ng-if="documentation.show_help"
          ng-keyup="launchHelp()"
          ng-click="launchHelp()">
        </span>
        <span
          ng-if="documentation.show_help"
          role="link"
          tabindex="0"
          ng-keyup="launchHelp()"
          ng-click="launchHelp()" 
          ng-i18next="avBooth.helpTitle"
        >
        </span>
        <span 
          class="dropdown left-padding"
          role="menuitem"
          av-change-lang
        >
        </span>
      </div>
    </div>
  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center" av-collapsing=".unfixed-top-height" data-toggle-selector="[avb-success-screen] #avb-toggle">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1 ng-i18next="avBooth.successTitle"></h1>
      <p ng-i18next="avBooth.successSubheader"></p>
    </div>
  </div>
</div>

<div id="avb-toggle" class="text-center item-block hidden">
  <span class="glyphicon glyphicon-play"></span>
</div>

<div class="container-fluid warning-demo" ng-if="isDemo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p ng-i18next="[html]avBooth.thisisADemoNotification"></p>
      </div>
    </div>
  </div>
</div>

<div class="content avb-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div>
          <span 
            ng-click="ballotHashWarning()"
            ng-if="!election.presentation.extra_options.success_screen__hide_ballot_tracker"
            class="ballot-locator-text"
            ng-i18next>
            [html:i18next]({ballotHash: stateData.ballotHash, ballotLocatorUrl: "/election/" +election.id + "/public/ballot-locator/" + stateData.ballotHash, url: organization.orgUrl, name: organization.orgName})avBooth.successBallotHash
          </span> 

          <div class="text-center" ng-if="!!nextElection">
            <span>
              <a
                tabindex="0"
                ng-click="goToNextElection()"
                class="btn btn-primary btn-login" ng-i18next>
                avBooth.goToNextElection
              </a>
            </span>
          </div>
          <div 
            class="text-center" 
            ng-if="!nextElection && (!election.presentation || !election.presentation.extra_options || !election.presentation.extra_options.success_screen__redirect_to_login)"
          >
            <span>
              <a
                tabindex="0"
                ng-click="finish()"
		            target="_top"
                class="close-window-btn btn btn-primary btn-login" ng-i18next>
                avBooth.closeWindow
              </a>
            </span>
          </div>

          &nbsp;
          <span
            ng-if="!election.presentation.extra_options.success_screen__hide_ballot_tracker && election.presentation.extra_options.success_screen__hide_qr_code !== true">
            <span ng-i18next>
              avBooth.successBallotQrCode
            </span>
            <div 
              class="qr-code text-center"
              ng-bind-html="qrCodeImg">
            </div>
          </span>
        </div>
        <div class="text-center download-ticket">
          <a
            class="btn btn-primary btn-login"
            tabindex="0"
            ng-click="downloadBallotTicket()"
            ng-if="!election.presentation.extra_options.success_screen__hide_ballot_tracker && election.presentation.extra_options.success_screen__hide_download_ballot_ticket !== true"
            target="_blank"
            ng-i18next>
            avBooth.downloadBallotTicket
          </a>
        </div>
        <p
          class="text-center"
          ng-if="!!election.presentation.extra_options.success_screen__hide_ballot_tracker"
          ng-i18next>
          [html:i18next]({url: organization.orgUrl, name: organization.orgName})avBooth.successNoBallotHash
        </p>
        <p
          class="text-center"
          ng-if="skippedCount > 0"
          ng-i18next>
          [html:i18next]({count: skippedCount})avBooth.successSkippedCount
        </p>
        <div class="text-center" ng-if="!nextElection && !!election.presentation.extra_options.success_screen__redirect_to_login">
          <span>
            <a
              tabindex="0"
              ng-click="redirectToLogin()"
              class="btn btn-primary btn-login">
              {{ election.presentation.extra_options.success_screen__redirect_to_login__text }}
            </a>
          </span>
        </div>
        <div class="text-center" ng-if="!!election.presentation.share_text">
          <span
            ng-if="!!buttonsInfo"
            ng-repeat="q in buttonsInfo"
          >
            <a
              tabindex="0"
              href="{{ q.link }}"
              target="_blank"
              class="{{ q.class }}"
            >
              <img
                alt="{{ q.network }}"
                class="logo-img"
                ng-src="{{ q.img }}"
              />
              {{ q.button_text|truncate:25 }}
            </a>
          </span>
        </div>

        <div ng-bind-html="successText">
        </div>
        <div documentation-directive ng-if="showDocOnVoteCast">
        </div>
      </div>
    </div>
  </div>
</div>
