<nav 
  class="navbar navbar-default navbar-fixed-top"
  av-affix-top=".navbar-unfixed-top"
  role="navigation"
>
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="pull-left">
        <span ng-if="election.logo_url">
          <img 
            class="logo-img" 
            ng-src="{{election.logo_url}}"
          >
          </img>
        </span>
        <span 
          class="powered-by"
          ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy"
          ng-if="!election.logo_url"
        >
        </span>
      </div>
      <div class="pull-right">
        <span
          class="glyphicon glyphicon-question-sign"
          ng-click="launchHelp()">
        </span>
        <span
          ng-click="launchHelp()"
          ng-i18next="avBooth.helpTitle"
        >
        </span>
        <span 
          class="dropdown left-padding"
          av-change-lang
        >
        </span>
      </div>
      <div
        class="text-center hidden-xs powered-by"
        ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy"
        ng-if="election.logo_url"
      >
      </div>
    </div>
  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center" av-collapsing=".unfixed-top-height" data-toggle-selector="[avb-success-screen] #avb-toggle">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1 ng-i18next="avBooth.successTitle"></h1>
      <p ng-i18next="avBooth.successSubheader"></p>
    </div>
  </div>
</div>

<div id="avb-toggle" class="text-center item-block hidden">
  <span class="glyphicon glyphicon-play"></span>
</div>

<div class="container-fluid warning-demo" ng-if="isDemo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p ng-i18next="[html]avBooth.thisisADemoNotification"></p>
      </div>
    </div>
  </div>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="padded">
      <p ng-i18next>
        [html:i18next]({ballotHash: stateData.ballotHash, ballotLocatorUrl: "/election/" +election.id + "/public/ballot-locator", url: organization.orgUrl, name: organization.orgName})avBooth.successBallotHash
      </p>
      <div class="text-center" ng-if="!!election.presentation.share_text">
        <span 
          ng-if="!!buttonsInfo"
          ng-repeat="q in buttonsInfo"
        >
          <a
            href="{{ q.link }}"
            target="_blank"
            class="{{ q.class }}"
          >
            <img
              alt="{{ q.network }}"
              class="logo-img"
              ng-src="{{ q.img }}"
            />
            {{ q.button_text|truncate:25 }}
          </a>
        </span>
      </div>

      <div ng-bind-html="successText">
      </div>
      <div documentation-directive ng-if="showDocOnVoteCast">
      </div>
    </div>
  </div>
</div>
