<div class="category-heading-container">
    <h3
        class="category-heading"
        id="question_{{question.index}}_answer_{{category.categoryAnswer.id}}"
        ng-click="!isReview && (category.isCollapsed = !category.isCollapsed)"
        ng-attr-tabindex="{{ !isReview ? '0' : undefined }}"
        ng-attr-role="{{ !isReview ? 'button' : undefined }}"
        ng-attr-aria-expanded="{{ !isReview ? !category.isCollapsed : undefined }}"
        ng-keydown="($event.key === 'Enter' || $event.key === ' ') && toggleCollapse() && $event.preventDefault()"
    >
        <span class="category-collapse-chevron" ng-if="!isReview" aria-hidden="true">
            <span
                class="glyphicon"
                ng-class="{
                    'glyphicon-chevron-right': category.isCollapsed,
                    'glyphicon-chevron-down': !category.isCollapsed
                }"
            ></span>
        </span>
        <span class="category-title-span">
            {{ category | customI18n : 'title' }}
        </span>
        <div
            class="vertilize-col answer-glyphicon"
            ng-if="question.are_lists_checkable && category.categoryAnswer"
        >
            <span
                tabindex="0"
                role="checkbox"
                aria-checked="{{ category.categoryAnswer.selected > -1 }}"
                aria-labelledby="question_{{question.index}}_answer_{{category.categoryAnswer.id}}"
                ng-click="!isReview && toggleSelectItem(question, category.categoryAnswer); $event.stopPropagation()"
            >
                <i class="fa fa-lg fa-check" ng-if="category.categoryAnswer.selected > -1"></i>
                <div class="unchecked" ng-if="category.categoryAnswer.selected === -1"></div>
            </span>
        </div>
    </h3>
</div>
<div class="category-body" ng-class="{'empty-category': isEmptyCategory}" ng-show="isReview || !category.isCollapsed">
    <div 
    class="question-answers text-left"
    >
        <div
            ng-if="!isReview && (category.isCategorySelected || answer.isFilterSelected)"
            ng-repeat="answer in category.answers"
            class="question-answer-wrapper"
            ng-class="{
              'flex-col-12': ((question.search && question.isAnyCategorySelected) || question.extra_options.answer_columns_size === 12),
              'flex-col-6': ((!question.search || !question.isAnyCategorySelected) && question.extra_options.answer_columns_size === 6),
              'flex-col-4': ((!question.search || !question.isAnyCategorySelected) && question.extra_options.answer_columns_size === 4),
              'flex-col-3': ((!question.search || !question.isAnyCategorySelected) && question.extra_options.answer_columns_size === 3)
            }"
        >
            <div 
                avb-simultaneous-question-answer-v2
                answer="answer"
                question="question"
                toggle-select-item="toggleSelectItem"
                toggle-select-item-cumulative="toggleSelectItemCumulative"
                cumulative-checks="cumulativeChecks"
                write-in-text-change="writeInTextChange"
                read-only="question.are_candidates_read_only"
                hide-check="question.are_candidates_read_only"
            ></div>
        </div>
        <div
            ng-if="isReview"
            ng-repeat="answer in (category.answers | avbSelectedOptions)"
            class="question-answer-wrapper"
            ng-class="{
              'flex-col-12': (question.extra_options.answer_columns_size === 12),
              'flex-col-6': (question.extra_options.answer_columns_size === 6),
              'flex-col-4': (question.extra_options.answer_columns_size === 4),
              'flex-col-3': (question.extra_options.answer_columns_size === 3)
            }"
        >
            <div 
                avb-simultaneous-question-answer-v2
                answer="answer"
                question="question"
                toggle-select-item="toggleSelectItem"
                toggle-select-item-cumulative="toggleSelectItemCumulative"
                cumulative-checks="cumulativeChecks"
                read-only="true"
                hide-check="!question.are_lists_checkable && question.tally_type !== 'cumulative'"
            ></div>
        </div>
    </div>
</div>