<!-- top navbar with question title -->
<nav class="navbar navbar-default navbar-fixed-top" av-affix-top=".navbar-unfixed-top" role="navigation">
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="pull-right">
        <span
          aria-label="close"
          ng-click="backFromHelp()">
          <span 
            aria-hidden="true" 
            class="glyphicon glyphicon-remove-sign"
          >
          </span>
        </span>
        <span 
          class="dropdown left-padding"
          role="menuitem"
          av-change-lang
        >
        </span>
      </div>
    </div>
  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center" av-collapsing=".unfixed-top-height" data-toggle-selector="[avb-help-screen] #avb-toggle">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1 ng-i18next="avBooth.helpTitle"></h1>
      <p ng-i18next="avBooth.helpText"></p>
    </div>
  </div>
</div>



<div id="avb-toggle" class="text-center item-block hidden">
  <span class="glyphicon glyphicon-play"></span>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div documentation-directive extra="extra">
        </div>
      </div>
    </div>

    <!-- go back button -->
    <div class="row hidden" ng-cloak av-affix-bottom data-force-affix-width="768">
      <button
        class="btn btn-block btn-lg btn-success btn-plain"
        ng-i18next="avBooth.goBack"
        ng-click="backFromHelp()">
      </button>
    </div>
  </div>
</div>
