<div
  class="question-answer"
  ng-class="{'is-category-list': isCategoryList}"
>
  <div
    tabindex="0"
    role="checkbox"
    aria-checked="{{answer.selected > -1 ? 'true' : 'false'}}"
    aria-labelledby="question_{{question.index}}_answer_{{answer.id}}"
    class="opt vertilize-wrapper"
    ng-click="toggleSelectItem(question, answer)"
  >
    <div class="vertilize">
      <!-- show checkbox icon -->
      <div class="vertilize-col answer-glyphicon">
        <span 
          class="glyphicon"
          aria-hidden="true"
          ng-if="question.tally_type === 'plurality-at-large'"
          ng-class="{
            'glyphicon-unchecked': answer.selected === -1,
            'glyphicon-check': answer.selected > -1
          }"
        ></span>
        <!-- show cumulative checkboxes -->
        <span
          class="glyphicon cumulative-glyphicon"
          tabindex="0"
          role="checkbox"
          ng-if="!isInvalidVoteAnswer && question.tally_type === 'cumulative'"
          aria-labelledby="question_{{question.index}}_answer_{{answer.id}}"
          ng-repeat="check in answer_cumulative_checks"
          aria-checked="{{isCheckSelected(answer, check) ? 'true' : 'false'}}"
          ng-click="toggleSelectItemCumulative(question, answer, check)"
          ng-class="{
            'glyphicon-unchecked': !isCheckSelected(answer, check),
            'glyphicon-check': isCheckSelected(answer, check)
          }"
        ></span>
        <!-- show checkbox for invalid -->
        <span
          class="glyphicon cumulative-glyphicon"
          tabindex="0"
          role="checkbox"
          aria-checked="{{isCheckSelected(answer, 0) ? 'true' : 'false'}}"
          aria-labelledby="question_{{question.index}}_answer_{{answer.id}}"
          ng-if="!!isInvalidVoteAnswer && question.tally_type === 'cumulative'"
          ng-click="toggleSelectItemCumulative(question, answer, 0)"
          ng-class="{
            'glyphicon-unchecked': !isCheckSelected(answer, 0),
            'glyphicon-check': isCheckSelected(answer, 0)
          }"
        ></span>
      </div>
      
      <!-- show answer image if any -->
      <div class="vertilize-col answer-image">
        <img
          parent
          ng-if="!!answer.urlsObject['Image URL']"
          ng-src="{{answer.urlsObject['Image URL']}}"
          alt="{{answer.text}}" 
        />
      </div>

      <!-- show answer texts -->
      <div 
        ng-if="!isWriteIn" 
        class="vertilize-col vert-align-top answer-texts"
      >
        <label 
          id="question_{{question.index}}_answer_{{answer.id}}"
          class="answer-text" 
          ng-bind-html="answer.text"
        ></label>
        <p
          ng-if="answer.details && answer.details.length > 1"
          class="answer-details"
          ng-bind-html="answer.details | addTargetBlank"
        ></p>
      </div>

      <!-- show write-in text input if applicable -->
      <div ng-if="isWriteIn" class="vertilize-col answer-texts write-in">
        <input 
          type="text"
          autocomplete="off"
          aria-label="write-in"
          ng-change="onWriteInTextChange()"
          av-debounce="500"
          ng-model="answer.text"
        />
      </div>

      <!-- Show URL link -->
      <div 
        class="vertilize-col vert-align-top answer-links"
        ng-if="!!answer.urlsObject.URL && !isWriteIn"
      >
        <a
          class="btn btn-default btn-right"
          href="{{answer.urlsObject.URL}}"
          ng-i18next="[alt]avBooth.openOptionLink"
          target="_blank"
        >
          <span class="glyphicon glyphicon-link"></span>
          <span 
            class="view-link-text" 
            ng-i18next="avBooth.dropdownOptionView"
          ></span>
        </a>
      </div>
    </div>
  </div>
</div>