<!-- top navbar -->
<div avb-common-header></div>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1 ng-bind-html="(election.presentation | customI18n : 'public_title') || (election | customI18n : 'title')">
      </h1>
      <p class="description" ng-bind-html="election.description | addTargetBlank"></p>
    </div>
  </div>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="row options-row">
      <div class="col-xs-12">
        <h3>{{election.questions[0].title}}</h3>
      </div>
      <div class="col-xs-6">
        <div class="opt" ng-click="toggleOption(0, 0)">
          <span class="glyphicon"
            ng-class="{'glyphicon-unchecked': election.questions[0].answers[0].selected === -1,
                       'glyphicon-check': election.questions[0].answers[0].selected === 0}">
          </span>
          {{election.questions[0].answers[0].text}}
        </div>
      </div>
      <div class="col-xs-6 left-border">
        <div class="opt" ng-click="toggleOption(0, 1)">
          <span class="glyphicon"
            ng-class="{'glyphicon-unchecked': election.questions[0].answers[1].selected === -1,
                       'glyphicon-check': election.questions[0].answers[1].selected === 0}">
          </span>
          {{election.questions[0].answers[1].text}}
        </div>
        <div class="container-fluid" ng-if="election.questions.length > 1">
          <div class="row">
            <div class="col-xs-12">
              <h3>{{election.questions[1].title}}</h3>
            </div>
            <div class="col-xs-12 col-sm-{{12/election.questions[1].answers.length}}" ng-repeat="answer in election.questions[1].answers">
              <div class="opt" ng-click="toggleOption(1, $index)">
                <span class="glyphicon"
                  ng-class="{'glyphicon-unchecked': election.questions[1].answers[$index].selected === -1,
                            'glyphicon-check': election.questions[1].answers[$index].selected === 0}">
                </span>
                {{election.questions[1].answers[$index].text}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- next button -->
    <div
      class="row hidden"
      ng-cloak
      av-affix-bottom
      data-force-affix-width="768"
      data-force-affix="{{ election.presentation.anchor_continue_btn_to_bottom }}"
    >
      <button
        class="btn btn-block btn-lg btn-success-action btn-plain"
        ng-i18next="avBooth.continueButton"
        ng-click="next()">
      </button>
    </div>
  </div>
</div>