<!-- top navbar -->
<div avb-common-header
  ballot-hash="{{ showAuditBtn && stateData.ballotHash }}"
  ng-class="{'hash-margin': showAuditBtn && stateData.ballotHash}"
></div>
<div avb-watermark></div>

<div class="container audit-content">
  <div class="sticky-top sticky-top-alt content">
    <div avb-voting-step step="4"></div>
  </div>
  <div class="sticky-padding"></div>
  <div class="content avb-content">
      <div class="row">
        <div class="col-xs-12">
          <h1
            class="text-center audit-title"
            ng-i18next="avBooth.auditBallotScreen.title"
          ></h1>
          <p class="audit-subtitle" ng-i18next="avBooth.auditBallotScreen.subtitle"></p>
          <ol>
            <li>
              <span class="download-list-title" ng-i18next="[html:i18next]avBooth.auditBallotScreen.downloadListTitle"></span>
              <i class="download-help fa fa-lg fa-question-circle" ng-click="downloadHelp()"></i>
              <br/>
              <div class="download-container">
                <span class="download-subtitle" ng-i18next="avBooth.auditBallotScreen.downloadSubtitle"></span>
                <button
                  id="download-btn"
                  class="btn btn-lg btn-success-action pull-right"
                  ng-click="downloadBallot()"
                >
                  <i class="download-help fa fa-md fa-download"></i>
                  <span class="hidden-xs" ng-i18next="avBooth.auditBallotScreen.downloadButton"></span>
                </button>
              </div>
              <div class="code-container">
                <i class="copy-icon fa fa-lg fa-copy" ng-click="copyToClipboard()"></i>
                <div class="code" tabindex="0" ng-click="selectDiv($event)">
                  {{ auditableBallotStr }}
                </div>
              </div>
            </li>
            <li>
              <span class="tutorial-text" ng-i18next="[html:i18next]({tutorialLink: tutorialLink})avBooth.auditBallotScreen.tutorialListTitle"></span>
              <i class="tutorial-help fa fa-lg fa-question-circle" ng-click="tutorialHelp()"></i>
            </li>
          </ol>
          <div class="input-warn">
            <div class="warn-box">
              <span class="glyphicon glyphicon-warning-sign"></span>
              <div
                class="warn-text"
                role="alert"
                ng-i18next="[html:i18next]avBooth.auditBallotScreen.auditWarning">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="actions">
    <button
      id="print-btn"
      class="btn btn-lg btn-opt-action btn-plain col-xs-6 col-sm-4"
      ng-click="printBallot()"
    >
      <i class="fa fa-print"></i>
      {{ 'avBooth.successScreen.printBallotBtn' | i18next }}
    </button>
    <button
      id="start-again-btn"
      class="btn btn-lg btn-success-action btn-plain col-xs-6 col-sm-4 col-sm-offset-4"
      ng-click="next()">
      <span>
        {{ 'avBooth.auditStartAgain' | i18next }}
        <i class="fa fa-chevron-right"></i>
      </span>
    </button>
  </div>
</div>

<div avb-common-footer></div>