<!-- top navbar -->
<div avb-booth-header
ballot-hash="{{ showAuditBtn && stateData.ballotHash }}"></div>

<div class="container">
  <div class="sticky-top">
    <div avb-voting-step step="audit"></div>
  </div>
  <div class="content avb-content">
      <div class="row">
        <div class="col-xs-12">
          <h1
            class="text-center audit-title"
            ng-i18next="avBooth.auditBallotScreen.title"
          ></h1>
          <p class="audit-subtitle" ng-i18next="avBooth.auditBallotScreen.subtitle"></p>
          <ol>
            <li>
              <span class="download-list-title" ng-i18next="[html:i18next]avBooth.auditBallotScreen.downloadListTitle"></span>
              <i class="download-help fa fa-lg fa-question-circle" ng-click="showHelp()"></i>
              <br/>
              <div class="download-container">
                <span class="download-subtitle" ng-i18next="avBooth.auditBallotScreen.downloadSubtitle"></span>
                <button
                  id="download-btn"
                  class="btn btn-lg btn-success-action btn-plain pull-right"
                  ng-click="downloadBallot()"
                  ng-i18next="avBooth.auditBallotScreen.downloadButton"
                ></button>
              </div>
              <div class="code" tabindex="0" ng-click="selectDiv($event)">{{ auditableBallotStr }}</div>
            </li>
            <li>
              <span class="tutorial-text" ng-i18next="[html:i18next]({tutorialLink: tutorialLink})avBooth.auditBallotScreen.tutorialListTitle"></span>
              <i class="tutorial-help fa fa-lg fa-question-circle" ng-click="showHelp()"></i>
            </li>
          </ol>
          <div class="input-warn">
            <div class="warn-box">
              <span class="glyphicon glyphicon-warning-sign"></span>
              <div
                class="warn-text"
                role="alert"
                ng-i18next="[html:i18next]avBooth.auditBallotScreen.auditWarning">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="hidden" ng-cloak av-affix-bottom>
  <div class="container">
    <div class="actions">
      <button
        id="print-btn"
        class="btn btn-lg btn-cancel btn-plain col-xs-4"
        ng-click="printBallot()"
      >
        <i class="fa fa-print"></i>
        {{ 'avBooth.successScreen.printBallotBtn' | i18next }}
      </button>
      <button
        id="start-again-btn"
        class="btn btn-lg btn-success-action btn-plain col-xs-4 col-xs-offset-4"
        ng-click="next()">
        <span>
          {{ 'avBooth.auditStartAgain' | i18next }}
          <i class="fa fa-chevron-right"></i>
        </span>
      </button>
    </div>
  </div>
</div>