<!-- top navbar with question title -->
<nav 
  class="navbar start-screen navbar-default navbar-fixed-top"
  av-affix-top=".navbar-unfixed-top"
  role="navigation"
>
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="col-xs-4">
        <span ng-if="election.logo_url">
          <img
            alt="Logo Image"
            class="logo-img" 
            ng-src="{{election.logo_url}}"
          />
        </span>
        <span 
          class="powered-by"
          ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy"
          ng-if="!election.logo_url"
        >
        </span>
      </div>

      <div 
        class="col-xs-6 text-center center-col"
      >
        <div
          ng-i18next="[html:i18next]({num:'1', total: '3', url: organization.orgUrl, name: organization.orgName})avBooth.stepNumber">
        </div>
      </div>

      <div class="offset-xs-2 col-xs-2 text-right">
        <span
          class="glyphicon glyphicon-question-sign"
          ng-if="documentation.show_help"
          ng-click="launchHelp()">
        </span>
        <span
          ng-if="documentation.show_help"
          ng-click="launchHelp()" 
          ng-i18next="avBooth.helpTitle"
        >
        </span>
        <span 
          class="dropdown left-padding"
          av-change-lang
        >
        </span>
      </div>
    </div>
  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1 class="election-title">{{election.title}}</h1>
      <p
        ng-if="election.description"
        class="election-description"
        ng-bind-html="election.description | addTargetBlank">
      </p>
    </div>
  </div>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="row options-row" ng-repeat="question in groupQuestions">
      <div class="col-xs-12">
        <h3 class="question-title text-center" aria-level="2">{{question.title}}</h3>
        <p
          class="question-description"
          ng-if="question.description"
          ng-bind-html="question.description | addTargetBlank">
        </p>
      </div>

      <div class="categories">
        <div
            class="category"
            ng-repeat="category in question.categories"
            ng-class="{
              'checkable': question.extra_options.enable_checkable_lists,
              'col-md-12': (question.extra_options.answer_columns_size === 12),
              'col-md-6': (question.extra_options.answer_columns_size === 6),
              'col-md-4': (question.extra_options.answer_columns_size === 4),
              'col-md-3': (question.extra_options.answer_columns_size === 3)
            }"
        >
          <h4 class="category-heading" ng-if="question.hasCategories">
            <div
              ng-if="question.extra_options.enable_checkable_lists"
              class="list-checks"
            >
            <!-- TODO: link this with a hidden answer -->
              <span
                ng-repeat="x in [].constructor(question.extra_options.cumulative_number_of_checkboxes) track by $index"
                class="glyphicon glyphicon-unchecked"
              ></span>
            </div>
            {{ category.title }}
          </h4>
          <div class="category-body">
            <div avb-simultaneous-question-answers-screen > </div>
          </div>
        </div>
      </div>

      <div 
        class="question-separator-dots"
      >
        <span 
          ng-i18next="[i18next]({qnum: $index+1, qtotal: groupQuestions.length})avBooth.questionNumber"
        ></span>
      </div> 
    </div>

    <!-- next button -->
    <div class="row hidden" ng-cloak av-affix-bottom data-force-affix-width="768">
      <button
        id="continue-btn"
        class="btn btn-block btn-lg btn-success btn-plain"
        ng-i18next
        ng-click="questionNext()">
        {{nextButtonText}}
      </button>
    </div>
  </div>
</div>
