<!-- top navbar -->
<div avb-booth-header></div>

<div class="wrapper-unfixed" ng-if="imagesPreloaded">
  <div class="navbar-unfixed-top text-center" av-collapsing=".unfixed-top-height" data-toggle-selector="[avb-encrypting-ballot-screen] #avb-toggle">
    <div class="container">
      <div class="hidden unfixed-top-height">
      </div>
    </div>
  </div>
</div>

<div class="busy-gui container" ng-if="imagesPreloaded">
  <div class="col-sm-offset-3 col-sm-6 margin-tb-15">
    <div class="busy-img-central text-center" id="img-central">
        <div id="div-id-one">
        </div>
        <div id="div-id-two">
        </div>
    </div>
  </div>
  <div class="busy-text">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
      <h1 class="text-center" ng-i18next="avBooth.busy.title">
      </h1>
    </div>
    <div
      class="busy-step row has-transitions" 
      ng-repeat="step in bulletList"
      ng-class="{
                  'step-waiting': 'waiting' === step.state,
                  'step-working': 'working' === step.state,
                  'step-finished': 'finished' === step.state
                }"
    >
      <div
        class="col-sm-offset-3 col-sm-3 col-xs-12 bullet-title"
      >
          <i
            class="fa fa-times"
            ng-if="'waiting' === step.state"
          >
          </i>
          <span avb-step-img
            ng-if="'working' === step.state"
          >
          </span>
          <i 
            class="fa fa-check"
            ng-if="'finished' === step.state"
          >
          </i>
          <span>
            <b
              class="step-title"
              aria-live="assertive"
              ng-i18next="avBooth.busy.{{ step.title }}"
            >
            </b>
          </span> 
      </div>
      <div class="col-sm-3 col-xs-12">
        <p
          class="step-description"
          ng-i18next=" avBooth.busy.{{ step.description }}"
        >
        </p>
      </div>
    </div>
  </div>
</div>