[avb-simultaneous-questions-v2-screen] {
  .election-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .election-title {
    flex-grow: 2;
  }

  .election-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
  }

  .btn-success-action > .fa-chevron-right {
    padding-left: 39px;
  }

  .text-brand-warning {
    padding: 0 42px;
    b {
      color: @av-secondary-contrast;
    }
  }

  .actions {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 19px;
  }

  .question {
    padding-bottom: 20px;
  }

  .question-answers, .invalid-vote-col {
    padding: 0 42px;
  }

  .text-warning.input-error.error-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 8px 0;
    padding: 0 42px;
    min-height: 60px;
    max-height: 174px;
    overflow-y: auto;
  }
}
