[avb-simultaneous-questions-v2-screen] {
  .btn-success-action > .fa-chevron-right {
    padding-left: 39px;

    @media(max-width: @screen-sm-max) {
      padding-left: unset;
    }
  }

  .text-brand-warning {
    margin-bottom: 4px;

    b {
      color: @av-secondary-contrast;
    }
  }

  .question {
    padding-bottom: 20px;
  }

  .text-warning.input-error.error-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8px;
    max-height: 164px;
    overflow-y: auto;
  }

  .sticky-error {
    position: sticky;
    top: 79px;
    z-index: 8;
    background: @bg-primary;
  }
}
