[avb-simultaneous-questions-v2-screen] {
  .btn-success-action > .fa-chevron-right {
    padding-left: 39px;

    @media(max-width: @screen-sm-max) {
      padding-left: unset;
    }
  }

  .text-brand-warning {
    margin-bottom: 4px;

    b {
      color: @av-secondary-contrast;
    }
  }

  .question {
    padding-bottom: 20px;
  }

  .extra-invalid-vote-space {
    margin-top: 11px;
  }

  .skip-question-container {
    padding-right: 15px;
    padding-left: 15px;

    .skip-question {
      font-weight: 700;
      padding: 10px;
      display: block;
    }
  }

  .fa-question-circle {
      margin-left: 22px;
      font-size: 18px;
      line-height: 18px;
  }

  .question-description {
    margin-bottom: 24px;
  }

  h2 {
    font-size: 24px;
  }

  >.election-container > .question > .category-body {
    display: flex;
    flex-direction: row;

    > .question-answers.text-left {
      flex-grow: 2;
      display: flex;
      flex-direction: row;
      gap: 16px;
      flex-wrap: wrap;
    }
  }

  [av-affix-bottom] > .container-fixed {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    position: relative;
  }

  #continue-btn:hover~.continue-custom-tooltip {
    opacity: 1;
    visibility: visible;
  }

  .continue-custom-tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
    bottom: 93%;
    right: 40px;
    z-index: -1;
    width: 231px;

    @media(max-width: @screen-xs-max) {
        right: 15px;

        .fa-caret-down {
            padding-right: 12px !important;
        }
    }

    .fa-caret-down {
        color: #CCE5FF;
        font-size: 34px;
        height: 14px;
        line-height: 10px;
        width: 100%;
        text-align: right;
        padding-right: 20px;
    }

    .tooltip-inner {
        box-shadow: 0 5px 5px rgba(0,0,0,.15);
        background-color: #CCE5FF;
        margin-top: -9px;
        font-size: 12px;
        line-height: 15px;
        padding: 16px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        text-align: justify;
        color: black;
        max-width: unset;
        b {
            color: #0F054C;
        }
    }
  }

  .filter-input-wrapper {
    position: relative;

    .filter-input {
      font-size: 14px;
      line-height: 24px;
      height: 36px;
      padding-left: 41px;
      border-radius: 4px;
      border: 2px solid rgba(0, 0, 0, 0.05);
      width: 231px;

      &:focus {
        padding-left: 12px;
      }
    }
    .filter-input.text {
      padding-left: 12px;
    }

    .glyphicon.glyphicon-search {
      position: absolute;
      left: 12px;
      font-size: 18px;
      top: 9px;
      color: #64748B;
    }

    .fa.fa-times {
      position: absolute;
      right: 12px;
      font-size: 18px;
      top: 9px;
      color: #64748B;
    }

    .hide, .hide-search {
      display: none;
    }
  }
}
