<!-- top navbar -->
<a href="#main-content" class="skip-link">{{ 'avBooth.skipLinks.skipToMain' | i18next }}</a>
<a href="#action-buttons" class="skip-link">{{ 'avBooth.skipLinks.skipToActions' | i18next }}</a>
<a href="#footer" class="skip-link">{{ 'avBooth.skipLinks.skipToFooter' | i18next }}</a>
<div avb-common-header
  ballot-hash="{{ showAuditBtn && stateData.ballotHash }}"
  ng-class="{'hash-margin': showAuditBtn && stateData.ballotHash}"
  hash-help="ballotHashWarning()"
></div>
<div avb-watermark></div>

<div class="container">
  <div
    class="sticky-top content"
    ng-class="{'sticky-top-alt': showAuditBtn && stateData.ballotHash}"
  >
    <div avb-voting-step step="review" with-election-list="!!parentAuthEvent"></div>
  </div>
  <div class="sticky-padding"></div>

  <h1 class="review-ballot-title">
    <span class="review-title-text" ng-i18next="avBooth.reviewScreen.title"></span>
    <i class="fa fa-lg fa-question-circle" ng-click="showTitleHelp()"></i>
  </h1>
  <p class="review-ballot-description" ng-i18next="[html]avBooth.reviewScreen.description" ng-if="showAuditBtn">
    <p class="review-ballot-description" ng-i18next="[html]avBooth.reviewScreen.descriptionNoAudit" ng-if="!showAuditBtn">
  </p>

  <div avb-review-ballot-v2></div>
</div>

<div class="container visible-xs" ng-if="!fixToBottom && showAuditBtn">
  <div class="actions actions-extra">
    <button
      id="audit-ballot-btn"
      class="btn btn-lg btn-opt-warn btn-plain col-xs-12"
      ng-click="confirmAudit()"
    >
      <span>
        <i class="fa fa-fire"></i>
        {{ 'avBooth.auditTheBallot' | i18next }}
      </span>
    </button>
  </div>
</div>

<div class="container" ng-if="!fixToBottom">
  <section id="action-buttons" class="actions" aria-label="{{ 'avBooth.simultaneousQuestions.actionsSection' | i18next }}">
    <button
      id="change-selection-btn"
      class="btn btn-lg btn-success-action btn-plain col-xs-6 col-sm-4"
      ng-if="showEditBtn"
      ng-click="goToQuestion(0, false)">
      <span>
        <i class="fa fa-chevron-left"></i>
        {{ 'avBooth.reviewScreen.editAction' | i18next }}
      </span>
    </button>
    <button
      id="audit-ballot-btn"
      class="btn btn-lg btn-opt-warn btn-plain col-sm-4 hidden-xs"
      ng-if="showAuditBtn"
      ng-click="confirmAudit()"
    >
      <span>
        <i class="fa fa-fire"></i>
        {{ 'avBooth.auditTheBallot' | i18next }}
      </span>
    </button>
    <button
      id="continue-btn"
      class="btn btn-lg btn-success-action btn-plain col-sm-4 col-xs-6"
      ng-class="{
        'col-sm-offset-4': (!showEditBtn || !showAuditBtn),
        'col-sm-offset-8': (!showEditBtn && !showAuditBtn)
      }"
      ng-click="next()">
      <span>
        {{ 'avBooth.castTheBallot' | i18next }}
        <i class="fa fa-chevron-right"></i>
      </span>
    </button>
  </sections>
</div>

<div avb-common-footer id="footer" ng-if="!fixToBottom"></div>

<div class="hidden" ng-cloak av-affix-bottom ng-if="fixToBottom">
  <div class="container container-fixed visible-xs" ng-if="showAuditBtn">
    <div class="actions actions-extra">
      <button
        id="audit-ballot-btn"
        class="btn btn-lg btn-opt-warn btn-plain col-xs-12"
        ng-click="confirmAudit()"
      >
        <span>
          <i class="fa fa-fire"></i>
          {{ 'avBooth.auditTheBallot' | i18next }}
        </span>
      </button>
    </div>
  </div>
  <div class="container container-fixed">
    <section id="action-buttons" class="actions" aria-label="{{ 'avBooth.simultaneousQuestions.actionsSection' | i18next }}">
      <button
        id="change-selection-btn"
        class="btn btn-lg btn-success-action btn-plain col-xs-6 col-sm-4"
        ng-if="showEditBtn"
        ng-click="goToQuestion(0, false)">
        <span>
          <i class="fa fa-chevron-left"></i>
          {{ 'avBooth.reviewScreen.editAction' | i18next }}
        </span>
      </button>
      <button
        id="audit-ballot-btn"
        class="btn btn-lg btn-opt-warn btn-plain col-sm-4 hidden-xs"
        ng-if="showAuditBtn"
        ng-click="confirmAudit()"
      >
        <span>
          <i class="fa fa-fire"></i>
          {{ 'avBooth.auditTheBallot' | i18next }}
        </span>
      </button>
      <button
        id="continue-btn"
        class="btn btn-lg btn-success-action btn-plain col-sm-4 col-xs-6"
        ng-class="{
          'col-sm-offset-4': (!showEditBtn || !showAuditBtn),
          'col-sm-offset-8': (!showEditBtn && !showAuditBtn)
        }"
        ng-click="next()">
        <span>
          {{ 'avBooth.castTheBallot' | i18next }}
          <i class="fa fa-chevron-right"></i>
        </span>
      </button>
    </section>
  </div>
  <div avb-common-footer id="footer" float="true"></div>
</div>