<!-- top navbar -->
<div avb-booth-header></div>

<div class="container">
  <div class="sticky-top">
    <div avb-voting-step step="2"></div>
  </div>

  <div class="wrapper-unfixed">
    <div class="navbar-unfixed-top text-center">
      <div class="hidden unfixed-top-height"></div>
      <h1 
        class="election-title"
        ng-bind-html="election.presentation.extra_options.public_title || election.title">
      </h1>
      <h1 class="review-title" ng-i18next="avBooth.reviewYourBallotTitle"></h1>
      <p class="review-description" ng-i18next="avBooth.reviewYourBallotText"></p>
    </div>
  </div>

  <div class="content avb-content">
    <div class="row">
      <div class="col-xs-12">
        <div avb-review-ballot></div>
      </div>
    </div>
    <div class="row">
      <div
        ng-if="!election.presentation.extra_options || !election.presentation.extra_options.disable_voting_booth_audit_ballot"
        class="col-xs-12 locator-text-click-audit">
        <p class="content">
          <span ng-click="ballotHashWarning()" class="review-ballot-hash-text" ng-i18next>
            [html:i18next]({ballotHash: stateData.ballotHash})avBooth.reviewBallotHashText
          </span>
          <a
            tabindex="0"
            class="review-ballot-link"
            ng-space-click
            ng-i18next="avBooth.auditTheBallot"
            ng-click="confirmAudit()">
          </a>
        </p>
      </div>
      <div 
        ng-if="(
          !election.presentation.extra_options || 
          !election.presentation.extra_options.review_screen__split_cast_edit
        )"
        class="col-xs-12 no-padding"
      >
        <button
          id="continue-btn"
          class="btn btn-block btn-lg btn-success-action btn-plain"
          ng-i18next="avBooth.castTheBallot"
          ng-click="next()">
        </button>
      </div>
      <div 
        ng-if="election.presentation.extra_options.review_screen__split_cast_edit === true"
        class="col-xs-6 no-padding"
      >
        <button
          id="continue-btn"
          class="btn btn-block btn-lg btn-success-action btn-plain continue-action"
          ng-i18next="avBooth.castTheBallot"
          ng-click="next()">
        </button>
      </div>
      <div 
        ng-if="election.presentation.extra_options.review_screen__split_cast_edit === true"
        class="col-xs-6 no-padding"
      >
        <button
          class="btn btn-block btn-lg btn-plain edit-action"
          ng-i18next="avBooth.reviewScreen.editAction"
          ng-click="goToQuestion(0, false)">
        </button>
      </div>
    </div>
  </div>

</div>


<div class="hidden" ng-cloak av-affix-bottom>
  <div class="container">
    <div class="actions">
      <button
        id="change-selection-btn"
        class="btn btn-lg btn-canceln btn-plain col-xs-4"
        ng-click="goToQuestion(0, false)">
        <span>
          <i class="fa fa-chevron-left"></i>
          {{ 'avBooth.reviewScreen.editAction' | i18next }}
        </span>
      </button>
      <button
        id="audit-ballot-btn"
        class="btn btn-lg btn-cancel btn-plain col-xs-4"
        ng-click="confirmAudit()"
      >
        <span>
          <i class="fa fa-fire"></i>
          {{ 'avBooth.auditTheBallot' | i18next }}
        </span>
      </button>
      <button
        id="continue-btn"
        class="btn btn-lg btn-success-action btn-plain col-xs-4"
        ng-click="next()">
        <span>
          {{ 'avBooth.castTheBallot' | i18next }}
          <i class="fa fa-chevron-right"></i>
        </span>
      </button>
    </div>
  </div>
</div>