<nav 
  class="navbar start-screen navbar-default navbar-fixed-top"
  av-affix-top=".navbar-unfixed-top"
  role="navigation"
>
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="col-md-4">
        <span ng-if="election.logo_url">
          <img
            alt="Logo Image"
            class="logo-img" 
            ng-src="{{election.logo_url}}"
          />
        </span>
        <span 
          class="powered-by"
          ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy"
          ng-if="!election.logo_url"
        >
        </span>
      </div>

      <div 
        class="col-md-7 text-center center-col"
      >
        <div
          ng-i18next="[html:i18next]({num:'2', total:'3'})avBooth.stepNumber">
        </div>
      </div>

      <div class="col-md-1 text-right">
        <span
          class="glyphicon glyphicon-question-sign"
          ng-if="documentation.show_help"
          ng-click="launchHelp()">
        </span>
        <span
          ng-if="documentation.show_help"
          ng-click="launchHelp()" 
          ng-i18next="avBooth.helpTitle"
        >
        </span>
        <span 
          class="dropdown left-padding"
          av-change-lang
        >
        </span>
      </div>
    </div>
  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center" av-collapsing=".unfixed-top-height" data-toggle-selector="[avb-review-screen] #avb-toggle">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1 ng-i18next="avBooth.reviewYourBallotTitle"></h1>
        <p ng-i18next="avBooth.reviewYourBallotText"></p>
    </div>
  </div>
</div>

<div id="avb-toggle" class="text-center item-block hidden">
  <span class="glyphicon glyphicon-play"></span>
</div>

<div class="container-fluid warning-demo" ng-if="isDemo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p ng-i18next="[html]avBooth.thisisADemoNotification"></p>
      </div>
    </div>
  </div>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">
          {{election.presentation.extra_options.public_title || election.title}}
        </h1>
        <div avb-review-ballot></div>
      </div>
    </div>
    <div class="row hidden" ng-cloak av-affix-bottom data-force-affix-width="768">
      <div
        ng-if="!election.presentation.extra_options || !election.presentation.extra_options.disable_voting_booth_audit_ballot"
        class="col-xs-12">
        <p>
          <span ng-i18next>
            [html:i18next]({ballotHash: stateData.ballotHash})avBooth.reviewBallotHashText
          </span>
          (<a
            tabindex="0"
            ng-space-click
            ng-i18next="avBooth.auditTheBallot"
            ng-click="confirmAudit()">
          </a>)
        </p>
      </div>
      <div class="col-xs-12 no-padding">
        <button
          id="continue-btn"
          class="btn btn-block btn-lg btn-success btn-plain"
          ng-i18next="avBooth.castTheBallot"
          ng-click="next()">
        </button>
      </div>
    </div>
  </div>
</div>
