<!-- top navbar -->
<nav 
  class="header-navbar"
  av-affix-top=".navbar-unfixed-top"
  role="navigation"
>
    <div class="header-container booth-profile">
        <div class="col-xs-6 header-left">
            <span ng-if="election.logo_url">
              <img
                alt="{{election.title}}"
                class="logo-img" 
                ng-src="{{election.logo_url}}"
              />
            </span>
        </div>
        <div class="col-xs-6 header-right">
            <span
                class="dropdown"
                role="menuitem"
                av-change-lang
            >
            </span>
            <a
              ng-if="enableLogOut()"
              target="_top"
              tabindex="0"
              class="log-out-button"
              ng-click="logoutAndRedirect()"
            >
              <span class="glyphicon glyphicon-off"></span>
              <span class="logout-text" ng-i18next>avBooth.logout</span>
            </a>
        </div>
    </div>
</nav>

<div id="avb-toggle" class="text-center item-block hidden">
  <span class="glyphicon glyphicon-play"></span>
</div>

<div class="booth-profile warning-demo" ng-if="isDemo">
  <div class="row">
    <div class="col-xs-12">
      <p ng-i18next="[html]avBooth.thisisADemoNotification"></p>
    </div>
  </div>
</div>

<div class="booth-profile warning-demo" ng-if="isPreview">
  <div class="row">
    <div class="col-xs-12">
      <p ng-i18next="[html]avBooth.thisisAPreviewNotification"></p>
    </div>
  </div>
</div>